:root {
  --lm-purple: rgba(186, 2, 232, 1);
  --lm-purple-muted: rgba(186, 2, 232, 0.3);
  --bs-body-font-family: "IBM Plex Sans", sans-serif;
  --bs-link-color: var(--lm-purple);
}

section {
  margin-top: 2rem;
}

a,
a:visited {
  color: var(--lm-purple);
}

a:hover,
a:active {
  color: var(--lm-purple-muted);
}

.page-container {
  max-width: 1000px;
  margin-top: 2rem;
}

header {
  border-bottom: 1px solid var(--lm-purple);
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

header p {
  margin-bottom: 0.25rem;
}

.publication-item {
  margin-bottom: 1rem;
}

.publication-item .img-thumbnail {
  max-width: 100%;
  border-color: var(--lm-purple-muted);
}

#news ul {
  list-style-type: square;
}

.icon {
  color: var(--lm-purple);
}

footer {
  margin-top: 2rem;
  padding-top: 1rem;
  margin-bottom: 4rem;
  border-top: 1px solid var(--lm-purple-muted);
}

img.logo {
  max-width: 100%;
}

#contributors p {
  margin-bottom: 0.5rem;
}

.suggested-citation {
  margin-left: 2rem;
}
